* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#cabecalho {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
}

#cabecalho {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

#pesquisa button{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: -10px;
    margin-right: 10px;
    padding: 0px 10px;
    top: 40px;
}

#pesquisa input{
    padding: 6.5px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    top: 40px;

}

#pesquisa ion-icon {
    font-size: 18px;
}

#pesquisa input::-webkit-input-placeholder {
    position: absolute;
    top: 5px;
}

#pesquisa input:focus {
    border-radius: 0px;
    box-shadow: 0 0 0 0;
    outline: 0;
}

#pesquisa button:hover {
    cursor: pointer;
}


#lo-ca a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#lo-ca a:hover {
    text-decoration: underline;
}

header img {
    height: 100px;
    margin-left: 10px;
    margin-top: 2px;
}

.nav-header {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header > a {
    color: white;
    text-decoration: none;
    margin: 10px 30px;
}

.nav-header > a:hover {
    text-decoration: underline;
}

#cabecalho {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#lo-ca a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#lo-ca a:hover {
    text-decoration: underline;
}

header img {
    height: 100px;
    margin-left: 10px;
    margin-top: 2px;
}

.nav-header {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header > a {
    color: white;
    text-decoration: none;
    margin: 10px 30px;
}

.nav-header > a:hover {
    text-decoration: underline;
}

a {
   color: black;

}

/* ---------- Produto ------------- */
#produto {
    margin-top: 30px;
    text-align: justify;
}
#produto hr {
    margin-top: 20px;
    margin-left: 30px;
    width: 770px
}

#foto-produto {
    width: 150px;
    margin-left: 30px;
}

#titulo-produto {
    position: absolute;
    display: inline;
    margin-left: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.desc {
    position: absolute;
    display: inline;
    margin-left: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    width: 150px;
}

#preco-produto {
    position: absolute;
    display: inline;
    margin-left: 200px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    color:rgb(20, 190, 20);
    font-weight: bold;
}

#qnt-produto {
    position: absolute;
    display: inline;
    margin-left: 330px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

#remover{
    position: absolute;
    display: inline;
    margin-left: 430px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* ---------- Info ------------- */

#info {
    margin-left: 70px;
}

#total-preco {
    position: absolute;
    margin-left: 930px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    top: 175px;
    font-weight: bold;
    color:rgb(20, 190, 20);
}

#entrega {
    position: absolute;
    margin-left: 800px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    top: 235px;
}

#botao-finalizar {
    position: absolute;
    margin-left: 860px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    top: 290px;
    background-color: black;
    color: white;
    padding: 20px 50px;
}

#form-produto {
    position: absolute;
    margin-left: 900px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    top: 265px;
}

/* ---------- rodape ------------- */

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    position: relative;
    top: 51px;
    bottom: 0;
}

footer h4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 18px;
}

/* ---------- hover ------------- */

#botao-finalizar:hover {
    text-decoration: underline;
}

#remover:hover {
    background-color: rgb(139, 20, 20);
    color: white;
    padding: 5px;
}